<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @product.type %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @product.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @product.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @product.age %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
